In [65]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [66]:
dd = pd.read_csv('2866.dat', sep='\t')
dd

,2,48,2.1,1,5951,2.2,3,2.3,1.1,3.1,2.4,22,3.2,1.2,1.3,4,1.4,0,0.1,0.2
0,3,12.0,1.0,2.0,2096.0,2.0,4,2.0,4.0,3.0,3,49.0,3.0,1,1.0,3.0,2.0,0.0,0.0,1.0
1,4,42.0,2.0,3.0,7882.0,2.0,4,2.0,4.0,4.0,4,45.0,3.0,2,1.0,4.0,2.0,0.0,0.0,1.0
2,5,24.0,3.0,4.0,4870.0,2.0,3,3.0,4.0,3.0,4,53.0,3.0,2,2.0,4.0,2.0,0.0,0.0,0.0
3,6,36.0,2.0,2.0,9055.0,1.0,3,2.0,4.0,3.0,4,35.0,3.0,2,1.0,3.0,2.0,1.0,0.0,1.0
4,7,24.0,2.0,3.0,2835.0,3.0,2,3.0,4.0,3.0,4,53.0,3.0,1,1.0,4.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,834,24.0,2.0,1.0,5084.0,1.0,2,2.0,1.0,3.0,4,42.0,3.0,1,1.0,999.0,1.0,1.0,0.0,1.0
996,234,18.0,0.0,1.0,866.0,2.0,3,4.0,3.0,4.0,2,25.0,3.0,1,1.0,3.0,1.0,0.0,0.0,1.0
997,474,6.0,0.0,10.0,1238.0,1.0,5,4.0,4.0,3.0,4,36.0,3.0,1,1.0,1.0,2.0,1.0,0.0,1.0
998,565,24.0,0.0,6.0,4712.0,1.0,3,4.0,4.0,3.0,2,37.0,1.0,1,2.0,1.0,1.0,1.0,0.0,1.0
999,\.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
nomes = ['ID','DuraÃ§Ã£o','Historico CrÃ©dito', 'PropÃ³sito', 'Valor', 'Investimentos', 'Emprego', 'Tempo Parcelamento', 'Estado Civil', 'Fiador Terceiros', 'Residencia dÃªs de', 'Idade', 'Outros Financiamentos', 'HabitaÃ§Ã£o', 'Emprestimo Existente', 'ProfissÃ£o', 'Dependentes', 'SÃ³cio Empresa', 'Estrangeiro', 'Status']

dd.columns = nomes

In [68]:
dd.drop(999, inplace=True)
dd

,ID,DuraÃ§Ã£o,Historico CrÃ©dito,PropÃ³sito,Valor,Investimentos,Emprego,Tempo Parcelamento,Estado Civil,Fiador Terceiros,Residencia dÃªs de,Idade,Outros Financiamentos,HabitaÃ§Ã£o,Emprestimo Existente,ProfissÃ£o,Dependentes,SÃ³cio Empresa,Estrangeiro,Status
0,3,12.0,1.0,2.0,2096.0,2.0,4,2.0,4.0,3.0,3,49.0,3.0,1,1.0,3.0,2.0,0.0,0.0,1.0
1,4,42.0,2.0,3.0,7882.0,2.0,4,2.0,4.0,4.0,4,45.0,3.0,2,1.0,4.0,2.0,0.0,0.0,1.0
2,5,24.0,3.0,4.0,4870.0,2.0,3,3.0,4.0,3.0,4,53.0,3.0,2,2.0,4.0,2.0,0.0,0.0,0.0
3,6,36.0,2.0,2.0,9055.0,1.0,3,2.0,4.0,3.0,4,35.0,3.0,2,1.0,3.0,2.0,1.0,0.0,1.0
4,7,24.0,2.0,3.0,2835.0,3.0,2,3.0,4.0,3.0,4,53.0,3.0,1,1.0,4.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,505,24.0,2.0,4.0,1207.0,2.0,1,4.0,1.0,3.0,4,24.0,3.0,3,1.0,999.0,1.0,0.0,0.0,0.0
995,834,24.0,2.0,1.0,5084.0,1.0,2,2.0,1.0,3.0,4,42.0,3.0,1,1.0,999.0,1.0,1.0,0.0,1.0
996,234,18.0,0.0,1.0,866.0,2.0,3,4.0,3.0,4.0,2,25.0,3.0,1,1.0,3.0,1.0,0.0,0.0,1.0
997,474,6.0,0.0,10.0,1238.0,1.0,5,4.0,4.0,3.0,4,36.0,3.0,1,1.0,1.0,2.0,1.0,0.0,1.0
998,565,24.0,0.0,6.0,4712.0,1.0,3,4.0,4.0,3.0,2,37.0,1.0,1,2.0,1.0,1.0,1.0,0.0,1.0

In [69]:
agrupado = dd.groupby(['Emprego']).size()
agrupado

Emprego
1     171
2     247
3     337
4     172
5      62
\N     10
dtype: int64

In [70]:
agrupado = dd.groupby(['Residencia dÃªs de']).size()
agrupado

Residencia dÃªs de
1     129
2     307
3     147
4     409
\N      7
dtype: int64

In [71]:
agrupado = dd.groupby(['HabitaÃ§Ã£o']).size()
agrupado

HabitaÃ§Ã£o
1     708
2     107
3     175
\N      9
dtype: int64

In [72]:
agrupado = dd.groupby(['ProfissÃ£o']).size()
agrupado

ProfissÃ£o
1.0      147
2.0       22
3.0      197
4.0      624
999.0      9
dtype: int64

In [73]:
dd.loc[(dd['Emprego'] != '1') & (dd['Emprego'] != '2') & (dd['Emprego'] != '3') & (dd['Emprego'] != '4') & (dd['Emprego'] != '5'), 'Emprego'] = 3

In [74]:
agrupado = dd.groupby(['Emprego']).size()
agrupado

Emprego
3     10
1    171
2    247
3    337
4    172
5     62
dtype: int64

In [75]:
dd.loc[(dd['Residencia dÃªs de'] != '1') & (dd['Residencia dÃªs de'] != '2') & (dd['Residencia dÃªs de'] != '3') & (dd['Residencia dÃªs de'] != '4'), 'Residencia dÃªs de'] = 4

In [76]:
agrupado = dd.groupby(['Residencia dÃªs de']).size()
agrupado

Residencia dÃªs de
4      7
1    129
2    307
3    147
4    409
dtype: int64

In [77]:
dd.loc[(dd['HabitaÃ§Ã£o'] != '1') & (dd['HabitaÃ§Ã£o'] != '2') & (dd['HabitaÃ§Ã£o'] != '3'), 'HabitaÃ§Ã£o'] = 1

In [78]:
agrupado = dd.groupby(['HabitaÃ§Ã£o']).size()
agrupado

HabitaÃ§Ã£o
1      9
1    708
2    107
3    175
dtype: int64

In [79]:
dd.loc[(dd['ProfissÃ£o'] > 4), 'ProfissÃ£o'] = 4

In [80]:
agrupado = dd.groupby(['ProfissÃ£o']).size()
agrupado

ProfissÃ£o
1.0    147
2.0     22
3.0    197
4.0    633
dtype: int64

In [81]:
x = dd.iloc[:,1:19].values
y = dd.iloc[:,19]

In [82]:
model = LogisticRegression(max_iter=3000)

In [83]:
from sklearn.feature_selection import RFE

In [84]:
rfe = RFE(model, 12)

C:\Users\rafae\anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass n_features_to_select=12 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [85]:
fit = rfe.fit(x,y)

In [86]:
print('NÃºmero de features: {}'.format(fit.n_features_))

NÃºmero de features: 12

In [87]:
cols = fit.get_support(indices=True)
cols = cols +1
dd.iloc[:,cols]

,Historico CrÃ©dito,Emprego,Tempo Parcelamento,Estado Civil,Fiador Terceiros,Residencia dÃªs de,Outros Financiamentos,HabitaÃ§Ã£o,ProfissÃ£o,Dependentes,SÃ³cio Empresa,Estrangeiro
0,1.0,4,2.0,4.0,3.0,3,3.0,1,3.0,2.0,0.0,0.0
1,2.0,4,2.0,4.0,4.0,4,3.0,2,4.0,2.0,0.0,0.0
2,3.0,3,3.0,4.0,3.0,4,3.0,2,4.0,2.0,0.0,0.0
3,2.0,3,2.0,4.0,3.0,4,3.0,2,3.0,2.0,1.0,0.0
4,2.0,2,3.0,4.0,3.0,4,3.0,1,4.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,2.0,1,4.0,1.0,3.0,4,3.0,3,4.0,1.0,0.0,0.0
995,2.0,2,2.0,1.0,3.0,4,3.0,1,4.0,1.0,1.0,0.0
996,0.0,3,4.0,3.0,4.0,2,3.0,1,3.0,1.0,0.0,0.0
997,0.0,5,4.0,4.0,3.0,4,3.0,1,1.0,2.0,1.0,0.0
998,0.0,3,4.0,4.0,3.0,2,1.0,1,1.0,1.0,1.0,0.0

In [88]:
features = fit.transform(x)
print(features)

[[1.0 '4' 2.0 ... 2.0 0.0 0.0]
 [2.0 '4' 2.0 ... 2.0 0.0 0.0]
 [3.0 '3' 3.0 ... 2.0 0.0 0.0]
 ...
 [0.0 '3' 4.0 ... 1.0 0.0 0.0]
 [0.0 '5' 4.0 ... 2.0 1.0 0.0]
 [0.0 '3' 4.0 ... 1.0 1.0 0.0]]

In [89]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2 , random_state=0)

In [90]:
sc = StandardScaler()
x_trainD = sc.fit_transform(x_train)
x_testD = sc.fit_transform(x_test)
x_test

array([[24.0, 5.0, 4.0, ..., 1.0, 0.0, 0.0],
       [24.0, 2.0, 9.0, ..., 1.0, 1.0, 0.0],
       [16.0, 1.0, 4.0, ..., 1.0, 1.0, 0.0],
       ...,
       [18.0, 2.0, 1.0, ..., 1.0, 0.0, 0.0],
       [12.0, 2.0, 2.0, ..., 2.0, 0.0, 0.0],
       [12.0, 2.0, 3.0, ..., 1.0, 1.0, 0.0]], dtype=object)

In [91]:
classifier = Sequential()
classifier.add(Dense(units= 8, kernel_initializer= 'uniform', activation= 'relu', input_dim= 18))
classifier.add(Dense(units= 8, kernel_initializer= 'uniform', activation= 'relu'))
classifier.add(Dense(units= 4, kernel_initializer= 'uniform', activation= 'relu'))
classifier.add(Dense(units= 4, kernel_initializer= 'uniform', activation= 'relu'))
classifier.add(Dense(units= 2, kernel_initializer= 'uniform', activation= 'relu'))
classifier.add(Dense(units= 2, kernel_initializer= 'uniform', activation= 'relu'))
classifier.add(Dense(units= 1, kernel_initializer= 'uniform', activation= 'sigmoid'))
classifier.compile(optimizer= 'adam', loss= 'binary_crossentropy', metrics= ['accuracy'])
classifier.fit(x_trainD, y_train, batch_size= 10, epochs= 10)

Epoch 1/10
80/80 [==============================] - 2s 4ms/step - loss: 0.6864 - accuracy: 0.6984
Epoch 2/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6712 - accuracy: 0.7059
Epoch 3/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6522 - accuracy: 0.7059
Epoch 4/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6315 - accuracy: 0.7059
Epoch 5/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6156 - accuracy: 0.7059
Epoch 6/10
80/80 [==============================] - 0s 4ms/step - loss: 0.6090 - accuracy: 0.7059
Epoch 7/10
80/80 [==============================] - 0s 3ms/step - loss: 0.6066 - accuracy: 0.7059
Epoch 8/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6060 - accuracy: 0.7059
Epoch 9/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6062 - accuracy: 0.7059
Epoch 10/10
80/80 [==============================] - 0s 2ms/step - loss: 0.6061 - accuracy: 0.7059

In [92]:
y_pred = classifier.predict(x_testD)
y_pred = (y_pred > 0.5)
y_pred

array([[ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True],
       [ True]])

In [93]:
confusao = confusion_matrix(y_test, y_pred)
confusao

array([[  0,  64],
       [  0, 136]], dtype=int64)

In [94]:
taxa_acerto = accuracy_score(y_test, y_pred)
taxa_erro = 1 - taxa_acerto
taxa_acerto

0.68

In [95]:
floresta = RandomForestClassifier(n_estimators= 300)
floresta.fit(x_train, y_train)

RandomForestClassifier(n_estimators=300)

In [96]:
previsoes = floresta.predict(x_test)
taxa_acerto = accuracy_score(y_test, previsoes)
taxa_acerto

0.75

ApÃ³s o uso de deep learning e ramdom forest foi notado que nesta primeira abordagem o modelo random forest atingiu o objetivo proposto de 75% de acerto no modelo.