In [1]:
import pandas as pd
import seaborn as srn
import statistics as sts
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer

In [2]:
dd = pd.read_csv('2866.dat', sep='\t')
dd

,2,48,2.1,1,5951,2.2,3,2.3,1.1,3.1,2.4,22,3.2,1.2,1.3,4,1.4,0,0.1,0.2
0,3,12.0,1.0,2.0,2096.0,2.0,4,2.0,4.0,3.0,3,49.0,3.0,1,1.0,3.0,2.0,0.0,0.0,1.0
1,4,42.0,2.0,3.0,7882.0,2.0,4,2.0,4.0,4.0,4,45.0,3.0,2,1.0,4.0,2.0,0.0,0.0,1.0
2,5,24.0,3.0,4.0,4870.0,2.0,3,3.0,4.0,3.0,4,53.0,3.0,2,2.0,4.0,2.0,0.0,0.0,0.0
3,6,36.0,2.0,2.0,9055.0,1.0,3,2.0,4.0,3.0,4,35.0,3.0,2,1.0,3.0,2.0,1.0,0.0,1.0
4,7,24.0,2.0,3.0,2835.0,3.0,2,3.0,4.0,3.0,4,53.0,3.0,1,1.0,4.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,834,24.0,2.0,1.0,5084.0,1.0,2,2.0,1.0,3.0,4,42.0,3.0,1,1.0,999.0,1.0,1.0,0.0,1.0
996,234,18.0,0.0,1.0,866.0,2.0,3,4.0,3.0,4.0,2,25.0,3.0,1,1.0,3.0,1.0,0.0,0.0,1.0
997,474,6.0,0.0,10.0,1238.0,1.0,5,4.0,4.0,3.0,4,36.0,3.0,1,1.0,1.0,2.0,1.0,0.0,1.0
998,565,24.0,0.0,6.0,4712.0,1.0,3,4.0,4.0,3.0,2,37.0,1.0,1,2.0,1.0,1.0,1.0,0.0,1.0
999,\.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dd.columns = ['ID','Duração','Historico Crédito', 'Propósito', 'Valor', 'Investimentos', 'Emprego', 'Tempo Parcelamento', 'Estado Civil', 'Fiador Terceiros', 'Residencia dês de', 'Idade', 'Outros Financiamentos', 'Habitação', 'Emprestimo Existente', 'Profissão', 'Dependentes', 'Sócio Empresa', 'Estrangeiro', 'Status']
dd

,ID,Duração,Historico Crédito,Propósito,Valor,Investimentos,Emprego,Tempo Parcelamento,Estado Civil,Fiador Terceiros,Residencia dês de,Idade,Outros Financiamentos,Habitação,Emprestimo Existente,Profissão,Dependentes,Sócio Empresa,Estrangeiro,Status
0,3,12.0,1.0,2.0,2096.0,2.0,4,2.0,4.0,3.0,3,49.0,3.0,1,1.0,3.0,2.0,0.0,0.0,1.0
1,4,42.0,2.0,3.0,7882.0,2.0,4,2.0,4.0,4.0,4,45.0,3.0,2,1.0,4.0,2.0,0.0,0.0,1.0
2,5,24.0,3.0,4.0,4870.0,2.0,3,3.0,4.0,3.0,4,53.0,3.0,2,2.0,4.0,2.0,0.0,0.0,0.0
3,6,36.0,2.0,2.0,9055.0,1.0,3,2.0,4.0,3.0,4,35.0,3.0,2,1.0,3.0,2.0,1.0,0.0,1.0
4,7,24.0,2.0,3.0,2835.0,3.0,2,3.0,4.0,3.0,4,53.0,3.0,1,1.0,4.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,834,24.0,2.0,1.0,5084.0,1.0,2,2.0,1.0,3.0,4,42.0,3.0,1,1.0,999.0,1.0,1.0,0.0,1.0
996,234,18.0,0.0,1.0,866.0,2.0,3,4.0,3.0,4.0,2,25.0,3.0,1,1.0,3.0,1.0,0.0,0.0,1.0
997,474,6.0,0.0,10.0,1238.0,1.0,5,4.0,4.0,3.0,4,36.0,3.0,1,1.0,1.0,2.0,1.0,0.0,1.0
998,565,24.0,0.0,6.0,4712.0,1.0,3,4.0,4.0,3.0,2,37.0,1.0,1,2.0,1.0,1.0,1.0,0.0,1.0
999,\.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dd.drop(999, inplace=True)
dd

,ID,Duração,Historico Crédito,Propósito,Valor,Investimentos,Emprego,Tempo Parcelamento,Estado Civil,Fiador Terceiros,Residencia dês de,Idade,Outros Financiamentos,Habitação,Emprestimo Existente,Profissão,Dependentes,Sócio Empresa,Estrangeiro,Status
0,3,12.0,1.0,2.0,2096.0,2.0,4,2.0,4.0,3.0,3,49.0,3.0,1,1.0,3.0,2.0,0.0,0.0,1.0
1,4,42.0,2.0,3.0,7882.0,2.0,4,2.0,4.0,4.0,4,45.0,3.0,2,1.0,4.0,2.0,0.0,0.0,1.0
2,5,24.0,3.0,4.0,4870.0,2.0,3,3.0,4.0,3.0,4,53.0,3.0,2,2.0,4.0,2.0,0.0,0.0,0.0
3,6,36.0,2.0,2.0,9055.0,1.0,3,2.0,4.0,3.0,4,35.0,3.0,2,1.0,3.0,2.0,1.0,0.0,1.0
4,7,24.0,2.0,3.0,2835.0,3.0,2,3.0,4.0,3.0,4,53.0,3.0,1,1.0,4.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,505,24.0,2.0,4.0,1207.0,2.0,1,4.0,1.0,3.0,4,24.0,3.0,3,1.0,999.0,1.0,0.0,0.0,0.0
995,834,24.0,2.0,1.0,5084.0,1.0,2,2.0,1.0,3.0,4,42.0,3.0,1,1.0,999.0,1.0,1.0,0.0,1.0
996,234,18.0,0.0,1.0,866.0,2.0,3,4.0,3.0,4.0,2,25.0,3.0,1,1.0,3.0,1.0,0.0,0.0,1.0
997,474,6.0,0.0,10.0,1238.0,1.0,5,4.0,4.0,3.0,4,36.0,3.0,1,1.0,1.0,2.0,1.0,0.0,1.0
998,565,24.0,0.0,6.0,4712.0,1.0,3,4.0,4.0,3.0,2,37.0,1.0,1,2.0,1.0,1.0,1.0,0.0,1.0

In [12]:
agrupado = dd.groupby(['Emprego']).size()
agrupado

Emprego
1     171
2     247
3     337
4     172
5      62
\N     10
dtype: int64

In [16]:
agrupado = dd.groupby(['Residencia dês de']).size()
agrupado

Residencia dês de
1     129
2     307
3     147
4     409
\N      7
dtype: int64

In [19]:
agrupado = dd.groupby(['Habitação']).size()
agrupado

Habitação
1     708
2     107
3     175
\N      9
dtype: int64

In [21]:
agrupado = dd.groupby(['Profissão']).size()
agrupado

Profissão
1.0      147
2.0       22
3.0      197
4.0      624
999.0      9
dtype: int64

In [25]:
agrupado = dd.groupby(['Status']).size()
agrupado

Status
0.0    299
1.0    700
dtype: int64